<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<div id="aboutView">
    <h2>This app is undoubdetly an instant foodie-favorite! Running late and hungry? We at FoodOnTheGo! are here to help :) 

We provide you this amazing facility to place a dine-in order at your favorite nearby restaurants even before you reach there!

It uses your current location, suggests cool places to eat, allows you to select a restaurant and place your order. Dive-in to your favorite delicacies as soon as you reach there!

It can also help you place an order at a nearby restaurant for home delivery.

You can search for restaurants too, in case you want to order for friends!
  </h2>
</div>