<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<div id="loginView1">
	<form style="padding-top:50px" center"class="form-horizontal">
	  <div class="form-group" style="margin-bottom:30px">
		<label id="txtuid" for="inputEmail3" class="col-sm-2 control-label">User Id</label>
		<div class="col-sm-10">
		  <input type="email" class="form-control" id="txtid" placeholder="User Id">
		</div>
	  </div><br>
	  <div class="form-group" style="margin-bottom:30px">
		<label id="lblpwd" for="inputPassword3" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
		  <input type="password" class="form-control" id="txtpwd" placeholder="Password">
		</div>
	  </div><br>
	  <div class="form-group" style="margin-bottom:30px" >
		<div class="col-sm-offset-2 col-sm-10">
		  <button id="login" href="#" class="btn btn-primary">Sign in</button>
		</div>
		</div>
	  <div class="form-group" style="margin-bottom:20px">
		<div class="col-sm-offset-2 col-sm-10">
		  <div><label  id="lblforgot">Forgot Password?</label></div>
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <div><label id="lblNewuser">New User?</label></div>
		</div>
	  </div>  
	</form>
</div><br>
</div>
</body>
</html>