<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" id="defaultView1">
<div id="searchView" >
        <div class="paragraph_noborder">
            <strong>State:</strong><br/>
            <select id="search_state" style="width:95%;height:40px" ></select>
        </div>
        <strong>Search Phrase:</strong><br/>
        <input type="text" style="width:95%;height:40px" id="search_searchPhrase" prompt="Search Phrase" />
        <div style="padding-top:10px;"class="subtext">You may enter a city name, zip code, county name, or market name in the search phrase field.</div>
        <div class="row">
        <div class="col-xs-6 col-md-6">            
            <strong>Filter By Product:</strong><br/><br/>
            <div class="searchfilter"><input type="checkbox" id="search_seafood" /><label for="search_seafood" id="seafood" class="amenities">Seafood</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_herbs" /><label for="search_herbs" id="herbs" class="amenities">Orgainic</label></div>
        </div>
        <div class="col-xs-6 col-md-6">
            <strong>Filter By Payment:</strong><br/><br/>  
            <div class="searchfilter"><input type="checkbox" id="search_credit" /><label id="credit_cards" class="amenities"for="search_credit">Credit Cards Accepted</label></div>
            <div class="searchfilter"><input type="checkbox" id="search_wic" /><label for="search_wic" id="wic_accepted" class="amenities">Cash On Delivary</label></div>
        </div>
        </div>
        <div class="paragraph_noborder"><a class="button btn btn-info" id="searchButton" href="#">Search</a></div>
</div>
</div>